.table-product {
    border: 1px solid black;
}

.table-product tr {
    vertical-align: top;
}

.table-product th, td {
    text-align: left;
}

.row-field {
    display: block;
    margin-bottom: 10px; }
.row-field.checkbox {
    padding-top: 34px; }
.row-field label {
    line-height: 34px;
    display: inline-block;
    vertical-align: middle;
    font-weight: 700; }
.row-field.hidden {
    display: none; }

input[type=text], input[type=email], input[type=number], input[type=password], input[type=date], input[type=url] {
    width: 100%;
    display: inline-block;
    height: 34px;
    padding: 0 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 3px   ; }
input[type=text].error, input[type=email].error, input[type=number].error, input[type=password].error, input[type=date].error, input[type=url].error {
    box-shadow: inset 0 0 10px red; }

textarea {
    font-family: "Open Sans", sans-serif;
    resize: vertical;
    width: 100%;
    display: inline-block;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    overflow: auto;
    border-radius: 3px   ; }
textarea.error {
    box-shadow: inset 0 0 10px red; }

select {
    width: 100%;
    display: inline-block;
    height: 34px;
    padding: 0 0 0 10px;
    font-size: 16px;
    border: 1px solid #ccc; }
