@mixin border-radius($values){
  -webkit-border-radius: $values;
  -moz-border-radius: $values;
  border-radius: $values;
}

@mixin box-shadow($values){
  -webkit-box-shadow: $values;
  -moz-box-shadow: $values;
  box-shadow: $values;
}

@mixin transform($func){
  -webkit-transform:$func;
  -moz-transform:$func;
  -ms-transform:$func;
  -o-transform:$func;
  transform:$func;
}

@mixin transition($values){
  -webkit-transition: $values;
  -moz-transition: $values;
  -ms-transition: $values;
  -o-transition: $values;
  transition: $values;
}

@mixin media($min,$max) {
  @if $min == 0 {
    @media only screen and (max-width: #{$max}px) { @content; }
  }
  @else if $max == 0 {
    @media only screen and (min-width: #{$min}px) { @content; }
  }
  @else{
    @media only screen and (min-width: #{$min}px) and (max-width: #{$max}px) { @content; }
  }
}

@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex:  $values;
  -webkit-flex:  $values;
  -ms-flex:  $values;
  flex:  $values;
}

@mixin order($val) {
  -webkit-box-ordinal-group: $val;
  -moz-box-ordinal-group: $val;
  -ms-flex-order: $val;
  -webkit-order: $val;
  order: $val;
}

@mixin placeholder(){
  &::-webkit-input-placeholder {
    @content
  }
  &:-moz-placeholder {
    @content
  }
  &::-moz-placeholder {
    @content
  }
  &:-ms-input-placeholder {
    @content
  }
}

@mixin animation ($values){
  -webkit-animation: $values;
  -o-animation: $values;
  -moz-animation: $values;
  animation: $values;
}

@mixin keyframes($name){
  @-webkit-keyframes #{$name} {
    @content
  }
  @-moz-keyframes #{$name} {
    @content
  }
  @keyframes #{$name} {
    @content
  }
}